.container{
    width:100%;
    height: auto;
    font-family: 'cookie', cursive;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #f9d445;
	
    overflow: hidden;
}
.banner{
    width:100%;
    height: 350px;
    background-image: url(Images/long_tree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 0 0 200px 0;
}
#leafimg{
	width:80%;
	
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	
}
#US{
	 background-image: url(Initation/Images/like2.JPG);
	 width:100%;
	 height: 600px;
	 background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 0 0 200px 0;
}
#venuimg{
	width:50%;
    height: 300px;
    display: inline;
    border:2px solid #fff;
    border-radius: 8px;
    margin-bottom: 10px;
	margin-left:0px;
	
}
#coupleimg{
	width:100%;
    height: 200px;
    border-radius: 100%
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    margin-bottom: 20px;
}
.section{
    width:100%;
    height: auto;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.subsection1{
    width:80%;
    height: auto;
    background-color: #f9d445;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 3px 10px 0 rgba(100,100,100,.3);
}
